table{
  border-collapse: collapse;
  box-shadow: top;
  margin: auto;
}


 h2{
   font-size: 18px;
   font-style: bold;
 }
.grid{
    margin: 0;
    padding: 0;
    max-width: 99%;
    background-color: red;
    padding: 10px 10px 10px 10px;
   
 }

 p{ 
   font-size: 18px;
   color: red;
   text-align: center;
   
   
}

 h1{
   font-size: 15px;
   color: red;
 }

 h3{
   font-size: 18px;
   color: red;
   text-align: center;
 }
 .item{
   height: 5px;
   width: 50px;
   padding: 3px;
   float: left;
   background-color: red;
 }
 
 tbody,thead,tr,th,td{
   border: 1px solid black;
   padding: 5px;

 }
 th{
   color: #fff;
 }
 thead th{
   background-color: red;
 }
h4{
  text-align: center;
  font-style: italic;
}

 body{
   box-shadow: 15px 30px 40px;
   background-color: ffffff;
   padding: 10px;
   margin: 300px 300px 500px 200px;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
}
div .item{
  widows: 10px;
  height: 1px;
  background: red;
  margin: 1px solid black;
}

